<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% if current_user %}
    {{current_user}}
<p></p>
    <li><a href="{% url 'logout' %}">Log Out</a></li>
{%else%}
    <li><a href="{% url 'register' %}">Register</a></li>
    <li><a href="{% url 'login' %}">Log In</a></li>
{% endif%}
{% block content %}
    <p><a href="{% url 'user_list' %}">User List</a></p>
    <h2>Balances</h2>
    {%for balance in balances%}
        <li>{{balance.name}}: {{balance.sum}}$</li>
    {%endfor%}

<h3><a href="{% url 'transaction_list' %}">Watch transactions</a></h3>
{% endblock %}
</body>
</html>