{% extends 'main/base.html' %}
{% block content  %}
<h1>Users</h1>
<ul>
{% for user in object_list %}
    {%if current_user != user.username %}
    <a href="{% url 'make_transaction' respond_to=user.username %}"><li>{{user.username}}</li> </a>
    {%endif%}
{% empty %}
    <li>No users yet.</li>
{% endfor %}
</ul>
{% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}
{% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}

{% endblock %}